.additionally {
  .list-reset;
  padding: 23px 20px 34px;
  border: 0;

  @media (min-width: @tablet-width) {
    padding: 0 70px 54px;
  }

  @media (min-width: @desktop-width) {
    grid-column: span 2;
    padding: 0;
  }
}

.additionally__title {
  margin-bottom: 34px;

  @media (min-width: @tablet-width) {
    margin-bottom: 57px;
  }
}

.additionally__list {
  .list-reset;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 12px;

  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 32px;
  }

  @media (min-width: @desktop-width) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.additionally__name {
  text-transform: uppercase;
}
