.additionally {
  .list-reset;
  padding: 53px 20px 38px;
  border: 0;
  position: relative;

  @media (min-width: @tablet-width) {
    padding: 0 70px 54px;
  }

  @media (min-width: @desktop-width) {
    grid-column: span 2;
    padding: 0;
  }
}

.additionally__item {
  @media (min-width: @desktop-width) {
    width: 20%;
  }
}

.additionally__title {
  margin-bottom: 40px;
  background-color: #ffffff;
  z-index: 2;
  width: 164px;
  position: relative;
  box-sizing: border-box;

  @media (min-width: @tablet-width) {
    margin-bottom: 61px;
    width: 292px;
    padding-left: 39px;
    padding-right: 42px;
    margin-left: -39px;
  }
}

.additionally__list {
  .list-reset;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 25px;

  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 42px 60px;
  }

  @media (min-width: @desktop-width) {
    display: flex;
    flex-direction: row;
    column-gap: 80px;
    flex-wrap: wrap;
  }
}

.additionally__wrapper {
  position: relative;
  align-items: center;
  display: flex;
}

.additionally__item-name {
  padding-left: 46px;
  text-transform: uppercase;
  position: relative;

  @media (min-width: @tablet-width) {
    padding-left: 60px;
  }
}

.additionally::after {
  position: absolute;
  content: "";
  height: 2px;
  width: calc(100% - 20px);
  background-color: #68b738;
  top: 13%;
  left: 0;
  margin-left: 20px;

  @media (min-width: @tablet-width) {
    top: 9%;
    margin: 0;
    width: 100vw;
  }

  @media (min-width: @desktop-width) {
    top: 15%;
    width: 100vw;
    right: 0;
    left: auto;
    box-shadow: 100vw 0 0 0 #68b738;
    display: block;
  }
}

.additionally__item-name::before {
  position: absolute;
  content: "";
  left: 0;
  top: -30%;
  width: 30px;
  height: 30px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #ffffff;
  border: 1px solid #cdcdcd;
  box-sizing: border-box;

  @media (min-width: @tablet-width) {
    width: 40px;
    height: 40px;
    top: -19%;
  }
}

.additionally__item-name::after {
  display: none;
  position: absolute;
  content: "";
  top: 4px;
  left: 7px;
  width: 24px;
  height: 24px;
  background-image: url("../img/sprite.svg#mark");

  @media (min-width: @tablet-width) {
    width: 32px;
    height: 32px;
  }
}

.additionally__item-value[type="checkbox"]:checked + .additionally__item-name::after {
  display: block;
}

.additionally__item-value:not(:disabled) + .additionally__item-name:hover::before {
  border-color: #bababa;
}

.additionally__wrapper:focus-within {
  opacity: 0.6;
}

.additionally__item-name:active ~ .additionally__item-name {
  opacity: 0.4;
}

.additionally__item-value:disabled ~ .additionally__item-name {
  opacity: 0.3;
}
