.card {
  display: grid;
  padding: 20px 20px;
  grid-template-columns: 1fr 1fr;
  border-top: 1px solid hsl(0, 0%, 92%);
  box-sizing: border-box;
  width: 100%;

  @media (min-width: @tablet-width) {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: none;
    background-color: #f2f2f2;
    position: relative;
    padding: 161px 38px 38px;
  }
}

.card--add {
  grid-template-columns: 1fr;
  text-align: center;

  @media (min-width: @tablet-width) {
    background-color: #ffffff;
    border: 2px solid #f2f2f2;
    padding: 52px 38px 38px;
  }
}

.card--additional {
  border: none;

  @media (min-width: @tablet-width) {
    width: auto;
    padding: 26px 38px;
    border: 1px solid #cdcdcd;
    background-color: #ffffff;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 25px;
  }

  @media (min-width: @desktop-width) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    border: none;
    border-top: 1px solid #cdcdcd;
    padding: 15px 0;
    gap: 0;
  }
}

.card__photo {
  padding: 14px 36px;

  @media (min-width: @tablet-width) {
    order: -1;
    position: absolute;
    top: 0;
  }
}

.card__button {
  .button-sample;
  box-sizing: border-box;
  grid-column: span 2;
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
}

.card__button--all {
  background: #f2f2f2;
  color: #444444;
  margin-top: 21px;

  @media (min-width: @tablet-width) {
    margin-top: 87px;
  }
}

.card__button--additional {
  @media (min-width: @tablet-width) {
    width: 100%;
  }

  @media (min-width: @desktop-width) {
    grid-column: span 1;
  }
}

.card__information {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.card__name {
  .list-reset;
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  grid-column: span 2;
  color: #222222;


  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 24px;
    text-align: center;
  }
}

.card__name--additional {
  padding-top: 13px;
  border-top: 1px solid #cdcdcd;

  @media (min-width: @tablet-width) {
    border: none;
  }

  @media (min-width: @desktop-width) {

    grid-column: span 1;
    margin-right: auto;
  }
}

.card__box {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column: span 2;
  gap: 6px;
  margin-top: 18px;
  margin-bottom: 22px;

  @media (min-width: @tablet-width) {
    gap: 14px;
    margin-top: 21px;
    margin-bottom: 33px;
  }
}

.card__box--additional {
  margin-top: 13px;
  margin-bottom: 15px;

  @media (min-width: @tablet-width) {
    display: flex;
    margin: 0;
    gap: 50px;
  }

  @media (min-width: @desktop-width) {
    grid-column: span 1;
    gap: 0;
    margin-right: 40px;
  }
}

.card__content,
.card__value {
  .list-reset;
  font-family: "Lato", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #444444;

  @media (min-width: @tablet-width) {
    font-size: 16px;
    line-height: 16px;
  }
}

.card__content--additional {
  @media (min-width: @tablet-width) {
    margin: 0;
  }
}

.card__value {
  margin-left: auto;
}

.card__button-add {
  width: 100%;
  border: none;
  padding: 0;
  background-color: #ffffff;
  margin-bottom: 23px;

  @media (min-width: @tablet-width) {
    margin-bottom: 49px;
  }
}

.card__content--add {
  margin-top: 8px;

  @media (min-width: @tablet-width) {
    margin-top: 23px;
  }
}

.card__button-svg {
  @media (min-width: @tablet-width) {
    width: 60px;
    height: 60px;
  }
}
