.card {
  display: grid;
  padding: 20px 20px 25px;
  grid-template-columns: 1fr 1fr;
  border-top: 1px solid hsl(0, 0%, 92%);
  box-sizing: border-box;

  @media (min-width: @tablet-width) {
    display: flex;
    flex-direction: column;
    border: none;
    background: #f2f2f2;
    position: relative;
    padding: 161px 36px 39px;
  }

  @media (min-width: @desktop-width) {
    width: 245px;
  }
}

.card--add {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0;

  @media (min-width: @tablet-width) {
    background-color: #ffffff;
    border: 2px solid #f2f2f2;
  }
}

.card--additional {
  @media (min-width: @tablet-width) {
    width: auto;
    padding: 26px 38px;
    border: 1px solid #cdcdcd;
    background-color: #ffffff;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 25px;
  }

  @media (min-width: @desktop-width) {
    border: none;
    border-top: 1px solid #cdcdcd;
    padding: 25px 1px;
  }
}

.card__photo {
  padding: 14px 36px;

  @media (min-width: @tablet-width) {
    order: -1;
    position: absolute;
    top: 0;
  }
}

.card__button {
  .button-sample;
  box-sizing: border-box;
  grid-column: span 2;
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
}

.card__button--all {
  background: #f2f2f2;
  color: #444444;
  padding: 10px 95px;

  @media (min-width: @tablet-width) {
    padding: 20px 79px;
  }
}

.card__button--additional {
  @media (min-width: @tablet-width) {
    width: 632px;
  }

  @media (min-width: @desktop-width) {
    width: 244px;
  }
}

.card__information {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.card__name {
  .list-reset;
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  grid-column: span 2;
  color: #222222;
}

.card__box {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column: span 2;
  gap: 6px;
}

.card__box--additional {
  @media (min-width: @tablet-width) {
    margin: 0;
  }
}

.card__content,
.card__value {
  .list-reset;
  font-family: "Lato", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #444444;
}

.card__content--additional {
  @media (min-width: @tablet-width) {
    margin: 0;
  }
}

.card__value {
  margin-left: auto;
}

.card__button-add {
  border: none;
  background-color: #ffffff;
  margin-bottom: 23px;
}
