.contacts {
  .list-reset;
  display: flex;
  flex-direction: column;
  gap: 15px;
  border: 0;
  padding: 26px 20px 23px;
  box-sizing: border-box;
  position: relative;

  @media (min-width: @tablet-width) {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    padding: 71px 71px;
  }

  @media (min-width: @desktop-width) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    flex-direction: row;
    flex-wrap: wrap;
    grid-column: span 2;
    padding: 0;
    gap: 78px;
  }
}

.contacts__title {
  width: 200px;
  margin-bottom: 20px;
  z-index: 2;
  background-color: #ffffff;

  @media (min-width: @tablet-width) {
    margin-bottom: 56px;
    width: 596px;
    padding-left: 39px;
    padding-right: 42px;
    box-sizing: border-box;
    margin-left: -39px;
  }

  @media (min-width: @desktop-width) {
    grid-column: span 2;
    margin: 0;
    margin-left: -39px;
  }
}

.contacts::after {
  position: absolute;
  content: "";
  height: 2px;
  width: calc(100% - 20px);
  background-color: #68b738;
  top: 18%;
  left: 0;
  margin-left: 20px;

  @media (min-width: @tablet-width) {
    top: 25%;
    margin: 0;
    width: 100vw;
  }

  @media (min-width: @desktop-width) {
    top: 15%;
    right: 0;
    left: auto;
    box-shadow: 100vw 0 0 0 #68b738;
    display: block;
  }
}

.contacts__box-name {
  position: relative;
}
