.description {
  padding: 0 20px 49px;

  @media (min-width: @tablet-width) {
    padding: 15px 31px 47px;
  }

  @media (min-width: @desktop-width) {
    padding: 0 110px;
  }
}

.description__title {
  .list-reset;
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  margin-bottom: 40px;

  @media (min-width: @tablet-width) {
    margin-bottom: 32px;
    font-size: 60px;
    line-height: 60px;
  }
}

.description__list {
  .list-reset;
  display: flex;
  flex-direction: column;
  gap: 20px;

  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 280px 280px;
    column-gap: 137px;
    row-gap: 37px;
  }

  @media (min-width: @desktop-width) {
    display: flex;
    flex-direction: row;
  }
}

.description__list-item {
  padding-left: 80px;

  @media (min-width: @tablet-width) {
    padding: 151px 26px 57px 0;
  }
}
