.description {
  padding: 25px 20px 49px;

  @media (min-width: @tablet-width) {
    padding: 50px 31px 47px;
  }

  @media (min-width: @desktop-width) {
    padding: 0 110px 69px;
    max-width: @desktop-width;
    margin-left: auto;
    margin-right: auto;
  }
}

.description__title {
  .list-reset;
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  margin-bottom: 40px;

  @media (min-width: @tablet-width) {
    margin-bottom: 32px;
    font-size: 60px;
    line-height: 60px;
  }
}

.description__list {
  .list-reset;
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;

  @media (min-width: @tablet-width) {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 61px;
    row-gap: 37px;
  }

  @media (min-width: @desktop-width) {
    grid-template-columns: repeat(4, 1fr);
    column-gap: 94px;
  }
}

.description__list-item {
  width: 100%;
}

.description__list-content {
  background-repeat: no-repeat;
  padding-left: 80px;
  margin: 0;
  height: 60px;
  max-width: 250px;

  @media (min-width: @tablet-width) {
    font-size: 16px;
    line-height: 24px;
    position: relative;
    padding: 151px 26px 57px 0;
    background-size: 80px 80px;
    background-position: 0 40px;
    z-index: 1;
    height: auto;
  }
}

.description__list-content--sheet {
  background-image: url("../img/sheet.svg");
}

.description__list-content::after {
  @media (min-width: @tablet-width) {
    content: "1";
    position: absolute;
    width: 112px;
    height: 280px;
    font-family: "Oswald", "Arial", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 280px;
    line-height: 280px;
    color: #f2f2f2;
    top: 0;
    left: 118px;
    z-index: -1;
  }
}

.description__list-content--water {
  background-image: url("../img/water.svg");
}

.description__list-content--water::after {
  @media (min-width: @tablet-width) {
    content: "2";
  }
}

.description__list-content--cutlery {
  background-image: url("../img/cutlery.svg");
}

.description__list-content--cutlery::after {
  @media (min-width: @tablet-width) {
    content: "3";
  }
}

.description__list-content--scales {
  background-image: url("../img/scales.svg");
}

.description__list-content--scales::after {
  @media (min-width: @tablet-width) {
    content: "4";
  }
}
