.example-wrapper {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 20px;
  column-gap: 32px;
  background-color: #eaeaea;
  padding: 25px 20px 40px;
  box-sizing: border-box;

  @media (min-width: @tablet-width) {
    grid-template-columns: 1fr 1fr;
    background-color: #ffffff;
    padding: 43px 30px 100px;
    border-top: 1px solid hsl(0, 0%, 90%);
    position: relative;
  }

  @media (min-width: @desktop-width) {
    grid-template-columns: 1fr 1fr;
    border-top: none;
    padding: 0;
    padding-bottom: 75px;
    gap: 0 224px;
  }
}

.example {
  position: relative;

  @media (min-width: @desktop-width) {
    padding: 0 110px;
    max-width: @desktop-width;
    margin-left: auto;
    margin-right: auto;
  }
}

.example::after {
  @media (min-width: @tablet-width) {
    content: "";
    background-color: #f2f2f2;
    position: absolute;
    height: 462px;
    width: 100vw;
    bottom: 0;
    left: -50vw;
    box-shadow: 100vw 0 0 0 #f2f2f2;
  }
}

.example__title {
  .list-reset;
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  margin-bottom: 20px;

  @media (min-width: @tablet-width) {
    font-size: 60px;
    line-height: 60px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 146px;
  }
}

.example__content {
  .list-reset;

  @media (min-width: @tablet-width) {
    grid-column: span 2;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 54px;
  }

  @media (min-width: @desktop-width) {
    grid-column: span 1;
    width: 436px;
    z-index: 2;
    margin-bottom: 69px;
  }
}

.example__block {
  .list-reset;
  position: relative;
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  text-transform: uppercase;
  padding: 15px 20px;
  border: 1px solid #cdcdcd;
  border-radius: 3px;
  text-align: center;
  margin-bottom: 20px;
  width: 124px;
  box-sizing: border-box;

  @media (min-width: @tablet-width) {
    padding: 15px 30px 20px;
    font-size: 30px;
    line-height: 37px;
    width: 170px;
    height: 77px;
    margin-bottom: 0;
    z-index: 2;
  }
}

.example__block-comment {
  .list-reset;
  position: absolute;
  font-family: "Lato", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  background-color: #eaeaea;
  text-transform: lowercase;
  box-sizing: border-box;
  width: 77px;
  top: 46px;
  left: 22px;
  padding: 1px 4px;

  @media (min-width: @tablet-width) {
    font-size: 14px;
    line-height: 14px;
    background-color: #ffffff;
    top: 65px;
    left: 32px;
    width: auto;

    @media (min-width: @desktop-width) {
      background-color: #f2f2f2;
    }
  }
}

.example__block-time-comment {
  @media (min-width: @tablet-width) {
    left: 18px;
  }
}

.example__price {
  .list-reset;
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 20px;
    align-self: center;
    text-align: end;
    display: grid;
    grid-template-columns: 1fr;
  }

  @media (min-width: @desktop-width) {
    display: flex;
    gap: 63px;
    text-align: start;
    z-index: 2;
    margin-top: 35px;
  }
}

.example__slider {
  display: flex;
  position: relative;
  justify-content: center;
  z-index: 3;

  @media (min-width: @tablet-width) {
    grid-column: span 2;
    margin-top: 80px;
  }

  @media (min-width: @desktop-width) {
    grid-column: 2/3;
    grid-row: 1/4;
    margin: 0;
  }
}

.example__slider-fat {
  text-align: center;
  width: 140px;
  overflow: hidden;

  @media (min-width: @tablet-width) {
    background-color: none;
    width: 280px;
    margin: auto 0;
  }
}

.example__slider-thin {
  display: flex;
  justify-content: flex-end;
  width: 140px;
  overflow: hidden;

  @media (min-width: @tablet-width) {
    width: 280px;
    margin: auto 0;
  }
}

.example__slider-img {
  max-width: none;
}

.example__block-wrapper {
  display: flex;
  gap: 32px;
  margin-left: auto;
  margin-right: auto;

  @media (min-width: @tablet-width) {
    gap: 42px;
    margin: 0;
  }
}

.example__button-slider {
  position: absolute;
  border: none;
  background-color: inherit;
  fill: #666666;
  stroke: #666666;
  top: 41%;
  z-index: 2;
  cursor: pointer;
}

.example__button-slider::after {
  content: "";
  background-color: #666666;
  position: absolute;
  width: 4px;
  height: 256px;
  bottom: -230%;
  border-radius: 2px;
  left: 22px;
  z-index: -1;

  @media (min-width: @tablet-width) {
    height: 512px;
    top: -215px;
  }
}

.example__button-slider:hover {
  fill: #68b738;
  stroke: #68b738;
}

.example__button-slider:hover::after {
  background-color: #68b738;
}


.example__button-slider:active {
  fill: #5eaa2f;
  stroke: #5eaa2f;
  opacity: 0.6;
}
