.logo {
  .list-reset;
  display: flex;
}

.logo:hover {
  opacity: 0.8;
}

.logo:active {
  opacity: 0.6;
}

.logo__link {
  margin-left: 57px;

  @media (min-width: @tablet-width) {
    margin-left: 12px;
  }
}

.logo__icon {
  @media (min-width: @tablet-width) {
    width: 61px;
    height: 50px;
  }

  @media (min-width: @desktop-width) {
    width: 59px;
    height: 71px;
  }
}

.page-footer__logo .logo__link {
  margin: 0;
}
