.promo {
  display: flex;
  flex-direction: column;
  background-image: url("/img/background-main@1x.png");
  background-size: 100%;
  background-repeat: no-repeat;
  align-items: center;
  padding: 27px 20px 20px;

  @media (min-resolution: 2dppx) {
    background-image: url("/img/background-main@2x.png");
  }

  @media (min-width: @tablet-width) {
    position: relative;
    background-image: none;
    padding: 44px 118px 526px;
    align-items: flex-start;
  }

  @media (min-width: @desktop-width) {
    padding: 81px 110px 267px;
    position: relative;
  }
}

.promo::after {
  @media (min-width: @desktop-width) {
    position: absolute;
    content: "";
    background-image: url("/img/background-main-desktop@1x.png");
    background-size: cover;
    width: 50%;
    height: 694px;
    top: -200px;
    right: 0;

    @media (min-resolution: 2dppx) {
      background-image: url("/img/background-main-desktop@2x.png");
    }
  }
}

.promo__title {
  .list-reset;
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  color: #ffffff;
  text-align: center;

  @media (min-width: @tablet-width) {
    text-align: start;
    padding: 0;
    font-size: 60px;
    line-height: 60px;
    color: #000000;
    z-index: 2;
  }
}

.promo__slogan {
  .list-reset;
  color: #ffffff;
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  margin-top: 25px;
  margin-bottom: 29px;

  @media (min-width: @tablet-width) {
    color: #000000;
    font-size: 20px;
    line-height: 20px;
    margin-top: 41px;
    margin-bottom: 49px;
    z-index: 2;
  }
}

.promo__image {
  @media (min-width: @tablet-width) {
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  @media (min-width: @desktop-width) {
    top: 40%;
    left: 58%;
    z-index: 2;
  }
}

.promo__button {
  .button-sample;
  position: relative;
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  width: 100%;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 20px;
    padding: 14px 26px;
    width: 244px;
  }
}
