.site-list {
  .list-reset;
  box-sizing: border-box;
  text-transform: uppercase;
  background-color: #ffffff;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);

  @media (max-width: 766px) {
    z-index: 3;
    position: absolute;
    top: 58px;
    right: -20px;
    min-width: 320px;
    width: 100vw;
  }

  @media (min-width: @tablet-width) {
    position: relative;
    top: 0;
    box-shadow: none;
    width: auto;
    gap: 35px;
    z-index: 1;
  }
}

.site-list--index {
  @media (min-width: @desktop-width) {
    background-color: inherit;
  }
}

.site-list__item-link--current {
  @media (min-width: @tablet-width) {
    border-bottom: 2px solid #68b738;
  }
}

.site-list__item-link {
  .list-reset;
  color: #000000;
  position: relative;
  display: block;
  padding: 21px 0 24px;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;

  @media (max-width: 766px) {
    border-top: 1px solid #e6e6e6;
  }

  @media (min-width: @tablet-width) {
    padding: 15px 0 9px;
    font-size: 18px;
    line-height: 24px;
  }
}

.site-list__item-link--index {
  @media (min-width: @desktop-width) {
    color: #ffffff;
  }
}

.site-list__item-link--index.site-list__item-link--current {
  @media (min-width: @desktop-width) {
    border-bottom: 2px solid #ffffff;
  }
}

.site-list__item:hover {
  opacity: 0.6;
}

.site-list__item:active {
  opacity: 0.3;
}
