.main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  padding: 10px 20px 18px;
}

.main-header__main-nav {
  text-transform: uppercase;
}

