.button {
  .button-sample;
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  width: 100%;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 20px;
    padding: 13px 45px;
    margin: 0;
    width: 50%;
  }
}

.button__wrapper {
  .side-indents;

  @media (min-width: @tablet-width) {
    display: flex;
    margin-left: 71px;
    gap: 64px;
  }

  @media (min-width: @desktop-width) {
    grid-column: span 2;
    margin: 0;
    gap: 84px;
  }
}
