.example {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.example__title {
  .list-reset;
  font-family: "Oswald";
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
}

.example__content {
  .list-reset;
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
}

.example__block {
  display: flex;
  justify-content: space-between;
}

.example__block-weight {
  .example__block;
}


.example__block-time {
  .example__block;
}

.example__price {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
}
