.main-container__form {
  width: 280px;
  margin: 27px auto 32px;
}

.main-container__form-title {
  margin-bottom: 37px;
}

.main-container__form-content {
  .list-reset;
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  margin-bottom: 39px;
}
