.main-form {
  .list-reset;
  border: 0;
  border-bottom: 1px solid #d9d9d9;
  text-transform: uppercase;
  padding: 0 20px 24px;

  @media (min-width: @tablet-width) {
    padding: 0 77px 58px;
    border: 0;
  }

  @media (min-width: @desktop-width) {
    .list-reset;
  }
}

.main-form__name {
  display: grid;
  grid-template-columns: auto minmax(173px, 228px);
  align-items: center;
  gap: 13px;
  margin-bottom: 14px;

  @media (min-width: @tablet-width) {
    grid-template-columns: auto 1fr;
    margin-bottom: 20px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 20px;
  }
}

.main-form__value {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  padding: 14px 20px;
  text-transform: uppercase;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }
}

