.promo {
  color: #ffffff;
  background-color: rgba(104, 183, 56, 0.85);
  background-image: url(../../../img/backgound_main.png);
  background-size: 100% cover;
  background-repeat: no-repeat;
  background-position: center center;
}
