.promo {
  background-image: url("../../../img/backgound-main.png");
  background-size: auto;
  background-repeat: no-repeat;
  text-align: center;
}

.promo__title {
  .list-reset;
  color: #ffffff;
  padding: 27px 35px;
}

.promo__slogan {
  .list-reset;
  color: #ffffff;
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
}

.promo__button {
  .button-sample;
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
}
