.recommendations {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  padding: 20px;

  @media (min-width: @desktop-width) {
    flex-direction: row;
    gap: 80px;
    padding: 82px 110px 71px;
  }
}


.recommendations__box {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  height: 266px;
  padding: 30px 33px 18px 20px;
  gap: 30px;
  background-color: #f2f2f2;

  @media (min-width: @tablet-width) {
    height: 372px;
    padding: 77px 316px 53px 52px;
  }

  @media (min-width: @desktop-width) {
    height: 374px;
    padding: 77px 61px 59px 52px;
  }
}

.recommendations__box-title {
  .list-reset;
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;

  @media (min-width: @tablet-width) {
    font-size: 36px;
    line-height: 36px;
  }
}

.recommendations__box-content {
  .list-reset;
  font-family: "Lato", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;

  @media (min-width: @tablet-width) {
    font-size: 16px;
    line-height: 24px;
  }
}
